<fieldset>
    <legend>Evaluacion</legend>
    <form id="formularioEvaluacion">
        <label for="id_recluta">Id Recluta</label>
        <input required type="number" name="id_recluta" placeholder="id" id="id_recluta"> <br><br>

        <label for="id_modulos">Modulo</label>
        <select name="id_modulos" id="containerModulos">
           
        </select> <br><br>
        <label for="nota">Nota Evaluacion</label>
        <input required type="text" name="nota" placeholder="Nota Evaluacion"> <br><br>
        

        <button type="submit" id="Agregar">Agregar</button>
    </form>
</fieldset>