<div class="containerFilter">
    <h2>Filtros</h2>
    <label for="nombre">Reclutas con mas de 2 meses en el programa--</label>
    <input type="button" value="Filtrar" id="mayorMeses"> <br><br>
    
    <label for="teams">filtrar por Team</label>
    <select name="teams" id="selectTeamFilter"></select>

    <label for="skill">filtrar modulos que se encuentras asignado a la skill: </label>
    <select name="skill" id="selectSkillFilter"></select>

    <label for="menoresEdad">filtrar los reclutas menores de edad</label>
    <input type="button" value="Filtrar" id="menoresEdad"> <br><br>

    <label for="selectModuloFilter">filtrar los reclutas que reprobaron el modulo</label>
    <select name="selectModuloFilter" id="selectModuloFilter"></select>
</div>
<div class="registro">

</div>